langdetect/token.pickle
langdetect/credentials.json
rs_discord_bot/discord_bot_token.txt
rs_discord_bot/notes.txt
fcc/datasets/Data8277.csv
fcc/datasets/5m-Sales-Records.zip
fcc/datasets/5m Sales Records.csv
fcc/datasets/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv
fcc/datasets/bitcoin-historical-data.zip
cpp_learning/day_01/comrade.exe
cpp_learning/day_01/test.exe
IXS_EC5_VCS/IXS/*
IXS_EC5_VCS/__pycache__/*
IXS_EC5_VCS/build/*
IXS_EC5_VCS/snips/*
.DS_Store
.vscode/*